{% extends 'main/base.html' %}
{%load static%}

{% block content %}
<html>
<body>
    <h1 style="font-size: 70px; font-family: Lovelyn; font-weight: bold; ">Pago exitoso</h1>
    <p>¡Gracias por tu compra!</p>
    <a href="{% url 'main:carrito_de_compras'%}" class="button">Regresar al Carrito</a>

    <style>
        /* Estilo base del botón/enlace */
    a.button {
      display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color:#ff2770;
    }

   
    /* Efecto de brillo al pasar el ratón sobre el botón/enlace */
    a.button:hover {
      opacity: 0.8; /* Cambia el color de fondo al pasar el ratón */
    }
    </style>
</body>
</html>

{% endblock %}