{% if messages %}
<div id="alert-box" class="alert-box">
    {% for message in messages %}
    <style>
        .prb{
            background-color: rgb(228,0,38);
            border-radius: 50px;
            color: white;
            box-shadow: 5px;
        }
        .alert-box{
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9999;
            width: 100%;
            pointer-events: none;
        }
        .alert{
            pointer-events: auto;
        }
    </style>
    <div class="alert alert-{{message.tags}}" id="msg2" role="alert">
        {{message}}
    </div>
      <!--  {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}-->
    {% endfor %}
</div>
{% endif %}